/* GroupChatModel.css */

.groupChat {
  position: relative;
  display: flex;
}

.MyChatButtonG {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 30%;
  max-width: 600px; /* Set a maximum width for the modal content */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Hide overflow content */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.GroupHeader {
  font-size: 35px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.GroupBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   /* Enable vertical scrolling for excess content */
}

.GroupFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.GroupHandleButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 5px;
  margin-right: 20px;
}

.Searchs {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: rgb(235, 229, 229);
}
.GroupName{
width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: rgb(235, 229, 229);
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.GroupSearch {
  width: 100%;
  height: 100%;
  
}

.UserBadge {
  width: 100%;
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  
}
.Text{
  width: 100%;
  height: 100%;
  border: none;
  background-color:rgb(235, 229, 229) ;

}
