
.container{
    height: 8%;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
    
}
.searchIcon {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    width: 30px;
    height: 100%;
    display: inline-block;
    
    
}
.searchIcon:hover {
    background-color: #fff; /* Change background color on hover */
  }
.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    text-align: center;
    top: 35px; /* Position at the bottom of the search icon */
    left: 60px;
    transform: translateX(-50%);
    position: absolute;  
}

.searchIcon:hover .tooltip {
    visibility: visible;

}
.search{
        margin-left: 10px;
        white-space: nowrap;
        font-size: 16px;
        position: absolute;
        
      
}
.search:hover {
    background-color: #fff; 
        /* Change background color on hover */
  }

.talk{
    align-items: center;
    text-align: center;
    font-size: 30px;
    position: absolute; /* Position the "Talk-A-Tive" text */
    left: 45%; /* Center horizontally */

    
}
.icon{
    position: absolute;
    left: 87%;
}
.bell{
    border: none;
    font-size: 18px;
    margin: 10px;
}

.picture{
    border-radius: 10px;
    position: absolute;
    left: 91%;
    
}
.profile{
    border-radius: 70%;
}

.picture .profile {
     /* Background color for the profile button */
    border: none;
    padding: 0; /* Remove padding */
    cursor: pointer;
    display: flex; /* Make the button flex container */
    align-items: center; /* Align items vertically */
    justify-content: center;
     /* Center content horizontally */
  }
  
  .picture .profile img {
    width: 40px; /* Width of the profile picture */
    height: 40px; /* Height of the profile picture */
    border-radius: 80%; /* Make the image round */
    box-shadow: none;
     /* Add some space between the image and the name */
  }
  
  .picture .profile span {
    font-size: 16px; /* Font size for the user's name */
    color: #333; /* Text color */
  }
  


  
.scroll{
    position: absolute;
    left: 95%;
    border: none;
    width: 6%;
}
.usertype{
    width: 100%;
    border: none;
    
}
.user-details{
    
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    text-align: center;
    top: 35px; /* Position at the bottom of the search icon */
    left: 90%;
    transform: translateX(-50%);
    position: absolute; 
     
    } 




  