.MyChatContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 30%;
    height: 88vh;
    margin-top: 12px;
    margin-left: 20px;
    overflow-y: auto;
    display: flex;
      
  }
  
  .MyChatbox1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  @media (max-width: 768px) {
    .MyChatContainer {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 10px;
      border: 1px solid #ccc;
      width: 20%;
      height: 88vh;
      margin-top: 12px;
      margin-left: 20px;
      overflow-y: auto; /* Add this line to make the container scrollable */
  }
  .chatBox1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 70%;
    align-items: center;
    height: 80vh;
    margin-top: 12px;
    margin-right: 20px;
    margin-left: 20px;
    
}
  
    .myChats {
      font-size: 2px;
      font-weight: 300;
      margin-left: 2px;
      align-items: center;
    }
    .MyChatButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(230, 226, 226);
      border: none;
      color: black;
      width: 50%;
      height: 5vh;
      border-radius: 10px;
      font-size: 18px;
      margin-right: 10px;
      font-family: sans-serif;
    }
    .MyChatbox1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      
    }

  }
  
  .myChats {
    font-size: 28px;
    font-weight: 500;
    margin-left: 20px;
  }
  
  .MyChatButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 226, 226);
    border: none;
    color: black;
    width: 50%;
    height: 5vh;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 10px;
    font-family: sans-serif;
  }
  
  .fa-solid.fa-plus {
    margin-left: 8px;
  }
  
  .MyChatbox2 {
    flex: 1;
    background-color: antiquewhite;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .stack-container {
    overflow-y: auto;
    padding: 10px;
  }
  
  .MyChatSelector {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .MyChatSelector:last-child {
    border-bottom: none;
  }
  .MyChatSelector.selected {
    background-color: #38b2ac;
    color: white; /* Optional: Change text color for better visibility */
  }
  
  