@media (max-width: 1500px) {
.chatContainer {
    height: 100vh;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0; 
    
}

.sidebox{
    height: 8vh;
    width: 100%;
    align-items: center;
    background-color: white;
    justify-content: center;
    text-align: center;
}
.chatbox{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 92vh;
    
    
}
}

/* Tablet styles */
@media (max-width: 1024px) {
    .chatContainer {
        height: 100vh;
        width: 100%;
        text-align: left;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0; 
        
    }
    
    .sidebox{
        height: 8vh;
        width: 100%;
        align-items: center;
        background-color: white;
        justify-content: center;
        text-align: center;
    }
    .chatbox{
        display: flex;
        justify-content:center;
        width: 100%;
        height: 92vh;
        
        
    }

    
}

/* Mobile styles */
@media (max-width: 768px) {
    .chatContainer {
        height: 100vh;
        width: 100%;
        text-align: left;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0; 
        
    }
    
    .sidebox{
        height: 8vh;
        width: 100%;
        align-items: center;
        background-color: white;
        justify-content: center;
        text-align: center;
    }
    .chatbox{
        display: flex;
        justify-content:center;
        width: 100%;
        height: 92vh;
        
        
    }
  
}

/* Small mobile styles */
@media (max-width: 480px) {
    .chatContainer {
        height: 100vh;
        width: 100%;
        text-align: left;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0; 
        
    }
    
    .sidebox{
        height: 8vh;
        width: 100%;
        align-items: center;
        background-color: white;
        justify-content: center;
        text-align: center;
    }
    .chatbox{
        display: flex;
        justify-content:center;
        width: 100%;
        height: 92vh;
        
        
    }
   
}