.chatContainer {
    height: 100%;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0; 
    overflow-y: auto; 
}

.sidebox{
    height: 5%;
    width: 100%;
}
.chatbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
    
}