.chatContainer {
    height: 100vh;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0; 
    
}

.Chatsidebox{
    height: 8vh;
    width: 100%;
    align-items: center;
    background-color: white;
    justify-content: center;
    text-align: center;
}
.chatbox{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100%;
    
    
}