.Homecontainer{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}
.Homebox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-color: white;
    margin: 2% 0 0 35%;
    width: 32%;
    border-radius: 8px;
    font-size: 25px;
    height: 3vh;
    
}
.Homebox2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    width: 32%;
    margin: 1% 0 0 35%;
    padding: 20px;
    border-radius: 5px;
    height: 8vh;
}
.homebox3{
  height: 89vh;
  width: 100%;
  display: flex;
  
}

.Homelogin {
    display: flex;
    justify-content: center;
    align-items: self-start;
    width: 70%;
    background-color: wheat;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 0.5px;
    transition: background-color 0.2s ease-in-out; /* Smooth color transition */
  }
  
  .Homelogin:hover {
    background-color: #333; /* Change to your desired hover color */
    color: white; /* Optional: Change text color on hover for better contrast */
  }
  
.Homesignup{
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: wheat;
    padding: 8px;
    
    border-radius: 15px;
    margin-left: 0.5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Smooth color transition */
    
}
.Homesignup:hover {
    background-color: #333; /* Change to your desired hover color */
    color: white; 
    /* Optional: Change text color on hover for better contrast */
  }
  


