.container{
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px;
    background-color: white;
    margin: 2% 0 0 35%;
    width: 32%;
    border-radius: 8px;
    font-size: 25px;
    height: 10vh;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    width: 32%;
    margin: 1% 0 0 35%;
    padding: 30px;
    border-radius: 5px;
    height: 80vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: self-start;
    margin-bottom: 450PX;
    width: 70%;
    background-color: wheat;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 0.5px;
    transition: background-color 0.2s ease-in-out; /* Smooth color transition */
  }
  
  .login:hover {
    background-color: #333; /* Change to your desired hover color */
    color: white; /* Optional: Change text color on hover for better contrast */
  }
  
.signup{
    display: flex;
    justify-content: center;
    margin-bottom: 450PX;
    width: 70%;
    background-color: wheat;
    padding: 8px;
    
    border-radius: 15px;
    margin-left: 0.5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Smooth color transition */
    
}
.signup:hover {
    background-color: #333; /* Change to your desired hover color */
    color: white; 
    /* Optional: Change text color on hover for better contrast */
  }


